@import url(constants.css);
@import url(assets.css);



/*
    Страница
*/

body
{
    display: flex;
    justify-content: center;
    align-items: start;

    width: 100%;
}

main
{
    width: 480px;
}

.page-content
{
    position: relative;
    top: 74px;

    width: 100%;
    height: 100%;
    
    padding-top: 0;
    padding-left: 25px;
    padding-right: 25px;
}
/*
    Общие параметры
*/


.player-photo-w84-h84
{
    width: 84px;
    height: 84px;
    content: url("../resourses/miposhka_face.png");
}

.country-w20-h15
{
    content: url("../resourses/flag20x15.png");
    width: 20px;
    height: 15px;
}

.titan-w84-h84
{
    content: url("../resourses/titan84x84.png");
    width: 84px;
    height: 84px;
}

.team-logo-w84-h84
{
    width: 84px;
    height: 84px;
    content: url("../resourses/spirit-logo-white.png");
}

/*
    Шаблоны
*/



.page-name
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;

    left: calc(25px + 0px);
    top: calc(0px + 0px);

    width: 430px;
    height: 70px;
    padding: 10px 0px 10px 15px;
    gap: 15px;
}
.result
{
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.score
{
    background-color: black;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;

}

.page-name h1
{
    color: black;
    text-align: center;
    height: auto;
    width: 690px;
}

.maps
{
    position: absolute;
    left: calc(25px + 0px);
    top: calc(70px + 3px);

    width: 430px;
    height: 54px;
    justify-content: start;
    align-items: center;
    padding: 0px 0px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.map
{
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    background-color: #090909;
}

.map img
{
    filter: invert();
}

.map:hover
{
    filter: invert();
}

.selected
{
    filter: invert();
}

#match-tech-info
{
    position: absolute;
    left: calc(25px + 0px);
    top: calc(134px +  0px);

    width: 430px;
    height: 50px;
    gap: 10px;
    align-items: start;
    justify-content: start;
    flex-direction: row;
}

.mti-text
{
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.mti-text h4
{
    text-align: center;
    vertical-align: middle;
}

.mti-title
{
    display: none;
}

#match-heroes
{
    position: absolute;
    left: calc(25px + 0px);
    top: calc(194px + 0px);

    width: 430px;
    height: 435px;

    background-color: #090909;
    gap: 10px;

    border: 1px solid rgb(30, 30, 30);

}

#match-map
{
    position: absolute;
    left: calc(73px + 25px);
    top: calc(639px + 0px);

    width: 284px;
    height: 290px;
    background-color: #090909;
    gap: 10px;

    border: 1px solid rgb(30, 30, 30);

    display: flex;
    justify-content: center;
    align-items: center;
}



#match-graphic
{
    position: absolute;
    left: calc(25px + 0px);
    top: calc(929px + 11px);

    width: 430px;
    height: 228px;
        background-color: #090909;
    overflow-x: scroll;
    overflow-y: hidden;
    border: 1px solid rgb(30, 30, 30);
}



#match-items-skills-stats
{
    position: absolute;
    left: calc(25px + 0px);
    top: calc(1070px + 110px);

    width: 430px;
    height: 1340px;
    background-color: #090909;
    gap: 10px;

    border: 1px solid rgb(30, 30, 30);

    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.gold-image
{
    width: 21px;
    height: 13px;

    content: url("../resourses/gold.png");
}

.titan-w84-h84
{
    width: 30px;
    height: 30px;
}

.player-rank
{
    position: relative;
}

.player-rank h5
{
    width: 30px;
    height: 14px;
    position: absolute;
    top: 22px;
    text-align: center;
}

.match-heroes-nick-rank
{
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.hero-icon-w57-h32
{
    width: 57px;
    height: 32px;
    content: url("../resourses/enchantress_horz.webp");
}

.match-hero-role
{
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.graphic-image
{
    width: 718px;
    height: 218px;
}

.match-heroes-card
{
    width: 100%;
    height: 83px;  
    padding: 5px;
    gap: 10px;
    background-color: #111111;
}

.match-heroes-nick-hero, .match-heroes-kda-gold
{
    justify-content: space-between ;
    align-items: center;
    gap: 5px;
}

.match-heroes-gold
{
    align-items: center;
    gap: 2px;
}

.aspect-w16-h16
{
    width: 16px;
    height: 16px;
    content: url("../resourses/aspect.png");
}

.talent-w32-h32
{
    width: 32px;
    height: 32px;
    content: url("../resourses/talents.png");
}

.hero-nickname, .aspect-talent
{
    justify-content: center;
    align-items: center;
}

.player-talent
{
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 41px;
}

.skill-image-w24-h24
{
    width: 24px;
    height: 24px;
    content: url("../resourses/enchantress_impetus.webp");
}

.item-image-w34-h24
{
    width: 34px;
    height: 24px;
    content: url("../resourses/item-w24-h24.png");
}

.skills, .items
{
    gap: 5px;
}

.player-items-skills-card
{
    background-color: #111111;
    width: 400px;
    height: 127px;
    padding: 5px;
    gap: 10px;
}

#match-items-skills-stats
{
    gap: 10px;
}

.buid-team-clmn
{
    gap: 5px;
}

.download-pdf-box:hover
{
    filter: invert();
}

#page-name-pdf
{
    display: none;
}
