@import url(constants.css);
@import url(assets.css);



/*
    Страница
*/

.page-content
{
    width: 1000px;
    height: 100%;
    
    padding-left: 40px;
    padding-right: 40px;

    flex-direction: column;
    position: relative;
}

body
{
    display: flex;
    justify-content: center;
    align-items: start;
}

/*
    Общие параметры
*/


.player-photo-w84-h84
{
    width: 84px;
    height: 84px;
    content: url("../resourses/miposhka_face.png");
}

.country-w20-h15
{
    content: url("../resourses/flag20x15.png");
    width: 20px;
    height: 15px;
}

.titan-w84-h84
{
    content: url("../resourses/titan84x84.png");
    width: 84px;
    height: 84px;
}

.team-logo-w64-h64
{
    width: 64px;
    height: 64px;
    content: url("../resourses/spirit-logo-white.png");
}

/*
    Шаблоны
*/



.page-name
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

    width: 920px;
    height: 64px;
}

.page-name h1
{
    color: black;
    text-align: center;
    height: auto;
    width: 690px;
}

.player-card
{
    width: 100%;
    height: 180px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: black;
}

.fldir-row
{
    align-items: center;
}   

#players-player
{
    width: 920px;
    padding: 10px 10px;

    position: absolute;

    gap: 10px;

    top: 149px
}

.t-tier-box
{
    width: 120px;
    height: 30px;
}
.rotate_-90
{
    transform: rotate(-90deg);
}

.t-info-box
{
    width: 400px;
    height: 100%;

    display: flex;
    justify-content: space-between;

    flex-direction: column;
}

.t-name, .t-info
{
    width: 100%;
    height: 40%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.t-name h2
{
    color: #fff000;
    font-weight: bold;
}

.t-banner-w373-h110
{
    width: 373px;
    height: 150px;

    content: url("../resourses/banner.png");
}