@import "../s-html.css";
@import "../s-header.css";
@import "../s-colors.css";
@import "../images.css";

main
{
    height: 100vh;
    overflow: hidden;
}
#player-background
{
    display: flex;
    background-color: var(--body-color-background);
    max-width: 100vw;
    min-width: var(--content-width-min);
    width: 100vw;
	height: 100vh;
    justify-content: center;
    align-items: top;

}

#player-background-block
{
    background-color: var(--body-color-background);
    order: 1;
    min-width: var(--content-width-min);
    width: var(--content-width);
    max-width: var(--content-width-max);

    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    min-height: 1000px;
    height: 100vh;
}

#category-block
{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    order: 0; 
    z-index: 99;

}

#category-block h1
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    
}

#players-list
{
    width: calc(50%); 
    background-color:hsl(0, 0%, 3%);
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
    margin-bottom: 55px;
    overflow: hidden;
    height: 90vh;
}

#player-background img
{
    padding-top:150px; 
    max-width: 100vh;
    min-width: 50vh;
    height: 100%;
    display: inline-flex; 
    right: 0; 
    position: fixed;
    background-color: var(--block-color-main);

}

#players-list ul, #players-list ul a, #players-list ul a li
{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

#players-list ul a li h2
{
    height: 100%;
    padding: 15px;
}

#players-list ul a li:hover
{
    background-color: #ffffff;
}
#players-list ul a li:hover h2
{
    background-color: #ffffff;
    color: black;
}

#players-list ul a
{
    height: 100%;
    text-decoration: none;
}

#players-list ul
{
    overflow: scroll;
    height: 100vh;
}

#players-list ul::-webkit-scrollbar
{
    width: 0;
}