@import "../s-html.css";
@import "../s-header.css";
@import "../s-colors.css";
@import "../images.css";

main
{
    height: 100vh;
    overflow: hidden;
}
#player-background
{
    display: flex;
    background-color: var(--body-color-background);
    max-width: 100vw;
    min-width: var(--content-width-min);
    width: 100vw;
	height: 100vh;
    justify-content: center;
    align-items: top;

}

#player-background-block
{
    background-color: var(--body-color-background);
    order: 1;
    min-width: var(--content-width-min);
    width: var(--content-width);
    max-width: var(--content-width-max);

    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    min-height: 1000px;
    height: 100vh;
}

#category-block
{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    order: 0; 
    z-index: 99;

}

#category-block h1
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--body-color-background);
    
}

#teams-list
{
    width: calc(100%); 
    background-color:var(--body-color-background);
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
    margin-bottom: 55px;
    overflow: hidden;
    height: 90vh;
}

#teams-list ul, #teams-list ul a, #teams-list ul a li
{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

#teams-list ul a li h2
{
    height: 100%;
    padding: 15px;
}

#teams-list ul a li:hover
{
    background-color: #ffffff;
}
#teams-list ul a li:hover h2
{
    background-color: #ffffff;
    color: black;
}

#teams-list ul button
{
    height: 100%;
    width: 100%;
    text-decoration: none;
}

#teams-list ul
{
    overflow: scroll;
    height: 100vh;
}

#teams-list ul::-webkit-scrollbar
{
    width: 0;
}

.teams-team-info
{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;

    width: 100%;
    text-decoration: none;
}

.team-roster
{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;

    height: 100px;
}

.team-logo img
{
    width: 50px;
}

.teams-team-info:hover
{
    background-color: #ffffff;
    
}
.teams-team-info:hover h3, .teams-team-info:hover h4
{
    color: var(--body-color-background);
}
.teams-team-info:hover img
{
    background-color: var(--body-color-background);
    src: url("../../resourses/secret-logo-black.png");
}
.teams-team-info
{
    width: calc(100% - var(--indent-inside)*2);
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    padding-left: var(--indent-inside);
    padding-right: var(--indent-inside);

}
.team-roster, .team-position, .team-ept-points, .team-rating-box, .team-logo-name
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0px 15px;
}

.team-roster
{
    width: 100%;
}
.team-rating-box
{
    width: 250px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.team-logo-name
{
    width: 500px;
}

.team-position
{
    gap: 0px;
}